asgiref==3.7.2
certifi==2021.10.8
# certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
Django==3.2.21
django-crispy-forms==2.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.7.1
wincertstore==0.2
django_seed==0.3.1
