{% extends 'form.html' %}


{% block body %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 70vh;">
    <h1>Login</h1>
    <br/><br/>

    <form method="post" style="display: inline-block;">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Submit" class="btn">
    </form>
</div>
{% endblock %}
